/* header.css */
.header {
    width: 100%;
    direction: rtl;
    text-align: center;
    overflow: hidden;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* فاصله داخلی */
}

.header .shap,
.namesite {
    display: flex;
    align-items: center;
}

.shap {
    width: 50%;
    justify-content: center; /* برای مرکز کردن آیکون‌ها */
}

.namesite {
    width: 50%;
    justify-content: flex-start;
    /* padding-right: 10px; */
}

.namesite a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    white-space: nowrap;
}
.namesite h1{
    /* margin-left: 50px; */
}

.namesite input {
    text-align: right;
    font-size: 16px;
    padding: 12px 20px;
    width: 400px;
    border-radius: 50px;
    border: 2px solid #ddd;
    margin-right: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}
.namesite input:focus  {
    outline: none;
    border-color: #0d6efd; /* رنگ سبز هنگام فوکوس */
    box-shadow: 0px 4px 12px #0d6efd;

}
.namesite input::placeholder {
    color: #888;
    font-style: italic;
}

.namesite input:hover {
    border-color: #888;
}


.shap img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.shap img:hover {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    
    .shap,
    .namesite {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    
    .namesite {
        flex-direction: row; /* به صورت افقی کنار هم */
        justify-content: space-between; /* فاصله بین عناصر */
        width: 100%;
    }

    .namesite a,
    .namesite form {
        width: 45%; /* کمی کمتر از 50% تا فضا برای هر دو عنصر باشد */
        box-sizing: border-box;
    }
    .namesite a{
        text-align: right;

    }


    .namesite input {
        width: 100%;
        margin-right: 0px !important;
        max-width: 200px;
    }

    .shap img {
        width: 25px;
        height: 25px;
    }
    .shap img:hover {
        width: 27px;
        height: 27px;
    }
}

